<div data-controller="auto-scroll" data-auto-scroll-bookmarks-container-target="js-table-bookmark">
  <div>
    <table id="js-table-bookmark" class="table">
      <%= render bookmarks %>
    </table>
  </div>
</div>