<div class="p-5">
  <div data-controller="modal" data-modal-allow-background-close="false">
    <a href="#" data-action="click->modal#open" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-6 rounded">
      <span>しおりを書いてみる</span>
    </a>

    <!-- Modal Container -->
    <div data-modal-target="container" data-action="click->modal#closeBackground keyup@window->modal#closeWithKeyboard" class="hidden animated fadeIn fixed inset-0 overflow-y-auto flex items-center justify-center" style="z-index: 9999;">
      <!-- Modal Inner Container -->
      <div class="max-h-screen w-full max-w-xs sm:max-w-lg relative top-0 mx-auto">
        <!-- Modal Card -->
        <div class="m-5 bg-white rounded shadow">
          <div class="p-8">
            <%= render "bookmarks/form", { book: @book, bookmark: @bookmark } %>
          </div>
            <div class="flex justify-end items-center flex-wrap p-4">
              <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" data-action="click->modal#close">閉じる</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>