<div class="textarea textarea-bordered">
  <div class="textarea textarea-bordered">
    <h4><%= @bookshelf.title %></h4>
  </div>
  <div class="textarea textarea-bordered">
    <p class="textarea textarea-bordered">本棚本文</p>
    <p class="textarea textarea-bordered">作成者名</p>
  </div>
</div>