<div class="card">
  <div class="card-content">
    <div class="content">
      <h4><%= @bookshelf.title %></h4>
      <% @bookshelf.tags.each do |tag| %>
        <span class="tag is-info"><%= tag.name %></span>
      <% end %> 
    </div>
  </div>
</div>