<%= form_with model: @bookshelf, local: true do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control textarea textarea-primary" %>
  </div>
  <%= f.submit :button, class: "btn btn-primary" %>
<% end %>