<div class="">
  <h1>本棚詳細</h1>
  <div class="">
    <%= link_to "一覧", bookshelves_path, class: "btn" %>
    <%= link_to "編集", edit_bookshelf_path(@bookshelf), class: "btn" %>
    <%= button_to '削除', @bookshelf, method: :delete, remote: :true, form: { data: { turbo_confirm: "「#{@bookshelf.title}」を削除しますか?" } }, class: "btn btn-error" %>
  </div>
</div>

<%= render partial: "board", object: @bookshelf %>