<div class="card">
  <div class="card-content">
    <div class="content">
      <div>
        <span><%= @comment.body %></span>
        <span><%#= comment.created_at.to_s(:datetime_jp) %></span>
        <span><%#= link_to '削除', @comment, method: :delete, remote: :true, class: "button is-danger", data: { turbo_method: :delete, turbo_confirm: "「#{@comment.body}」を削除しますか?" } %></span>
      </div>
    </div>
  </div>
</div>