<h1>チャットルーム</h1>
<!-- チャットルームの入力フォーム -->
<form>
  <label for="sender">お名前:</label>
  <input type="text" id="sender" size="16" /></br />
  <label for="context">メッセージ:</label>
  <input type="text" id="context" size="50" /><br />
</form>
<div id="messages">
</div>
