<footer aria-label="Site Footer" class="bg-green-100">
  <div
    class="max-w-screen-xl px-4 mx-auto lg:px-4 p-5"
  >

    <div
      class="grid grid-cols-1 gap-8 pt-8 border-t border-gray-100 sm:grid-cols-2 lg:grid-cols-4 lg:pt-4"
    >
      <p class="footer-title"><%= link_to 'BOOKSTAIRとは', page_path('about') %></p> 

      <p class="footer-title"><%= link_to '利用規約', page_path('tos') %></p> 

      <p class="footer-title"><%= link_to 'プライバシーポリシー', page_path('privacy') %></p> 

      <p class="footer-title"><%= link_to 'お問い合わせ', "https://docs.google.com/forms/d/e/1FAIpQLSc8c7jZnpeaIUn6YU58M1_ESvGrP-1hpnJ3U5cReXZIu7YjMQ/viewform?embedded=true", class: 'nav-link' %></p> 
    </div>
    
    <div>
      <p class="text-xs text-gray-500">
        Copyright &copy; 2022-2023. BOOKSTAIR
      </p>
    </div>
  </div>
</footer>
