<footer class="p-10 footer bg-neutral-content">
  <div>
    <span class="footer-title"><%= link_to 'BOOKSTAIRとは', page_path('about') %></span> 
  </div> 
  <div>
    <span class="footer-title"><%= link_to '利用規約', page_path('tos') %></span> 
  </div> 
  <div>
    <span class="footer-title"><%= link_to 'プライバシーポリシー', page_path('privacy') %></span> 
  </div>
  <div>
    <span class="footer-title"><%= link_to 'お問い合わせ', '#', class: 'nav-link' %></span> 
  </div>
  <p><small>Copyright © 2022-2023. BOOKSTAIR</small></p>
</footer>