<footer>
  <nav>
    <div>
      <ul>
        <li><a><%= link_to 'Bookstairとは', page_path('about') %></a></li>
        <li><a><%= link_to '利用規約', page_path('tos') %></a></li>
        <li><a><%= link_to 'プライバシーポリシー', page_path('privacy') %></a></li>
        <li><a><%= link_to 'お問い合わせ', '#', class: 'nav-link' %></a></li>
        <p><small>Copyright © 2022-2023. Bookstair</small></p>
			</ul>
    </div>
  </nav>
</footer> 