<button id="start-tour" class="button is-info is-rounded is-focused mt-1">投稿の説明を見てみる</button>

<!--
<div data-title="ようこそ！" data-intro="「投稿する」リンクで投稿ができます" class="card-demo">
  <div class="card shadow--md">
    <div class="card__image" data-title="投稿の例です" data-intro="投稿の例です">
      <img
        src="..."
        alt="Image alt text"
        title="Logo Title Text 1"
      />
    </div>
    <div class="card__body" data-title="投稿は下に更新されていきます。" data-intro="投稿はチャプター順でソートされます！">
      <h4>Quaco Lighthouse</h4>
      <small>
        The Quaco Head Lighthouse is a well maintained lighthouse close to St.
        Martins. It is a short, beautiful walk to the lighthouse along the
        seashore.
      </small>
    </div>
  </div>
</div>
-->
<script>
  intro = introJs();
  // intro = introJs(".introduction-farm").start();
  
  document.querySelector('#start-tour').onclick = function() {
    intro.start();
  };
</script>