<button id="start-tour" class="button is-info is-rounded is-focused mt-1 font-semibold">投稿のチュートリアル</button>

<script>
  intro = introJs();
  // intro = introJs(".introduction-farm").start();
  
  document.querySelector('#start-tour').onclick = function() {
    intro.start();
  };
</script>