<p>
  <input type="radio" name="status" value="未読" checked="checked">未読
  <input type="radio" name="status" value="読書中">読書中
  <input type="radio" name="status" value="読み終わった">読み終わった
</p>
<p>
  <input type="radio" name="status" value="完全に理解した" checked="checked">完全に理解した
  <input type="radio" name="status" value="何もわからない">何もわからない
  <input type="radio" name="status" value="ちょっとわかる">ちょっとわかる
</p>
