<div class="mt-3 rounded"></div>
  <div class="mt-3 p-2 text-white bg-green-600">はてブ・技術評論社の人気エントリー</div>
    <div id="popular-items" class="bg-slate-50 max-h-36 overflow-y-auto p-3">
      <% @feeds.each do |feed| %>
        <h2><%= link_to feed.title, feed.url, target: '_blank' %></h2>
      <% end %>
    </div>
  <div>
<div>
