<% content_for(:title, '本棚') %>

<section class="bg-[url('shelf.jpg')]">
  <div class="max-w-screen-xl px-4 py-8 mx-auto card sm:px-6 sm:py-12 lg:px-8">
    <div class="lg:col-span-3 card-body">
      <ul class="grid gap-4 sm:grid-cols-2 lg:grid-cols-3">
        <% if @books.present? %>
          <% @books&.each do |book| %>
            <li>
              <a href="#" class="block overflow-hidden group rounded">
                <div class="bg-[url('wood.png')] p-5">
                  <%= link_to (image_tag(book.large_image_url)), book.item_url, class:"flex justify-center items-center" %>
                </div>

                <div class="relative pt-3 bg-white rounded p-3">
                  <h3
                    class="text-xs text-gray-700 group-hover:underline group-hover:underline-offset-4 flex justify-center items-center"
                  >
                    <%= set_rakuten_book_params(book.title) %>
                  </h3>
                  
                  <h3
                    class="text-xs text-gray-700 group-hover:underline group-hover:underline-offset-4 flex justify-center items-center"
                  >
                    <%= set_rakuten_book_params(book.author) %>
                  </h3>

                  <h3 class="mt-2 flex justify-center items-center">
                    <p class="text-xs text-gray-700 group-hover:underline group-hover:underline-offset-4">
                      <button><%= link_to "しおりを見てみる", book, method: :get, params: {isbn: book.isbn}, remote: :true, class: "inline-block rounded border border-blue-600 bg-blue-600 px-12 py-3 font-medium text-white hover:bg-transparent hover:text-blue-600 focus:outline-none focus:ring active:text-blue-500 m-3"%></button>
                    </p>
                  </h3>
                </div>
              </a>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</section>

