<% content_for(:title, '本棚') %>
<!--
<div class="flex items-center">
  <label class="text-sm text-gray-500 mr-3 dark:text-gray-400">本棚内一覧</label>
  <input type="checkbox" id="bookmark-toggle" class="relative shrink-0 w-[3.25rem] h-7 bg-gray-100 checked:bg-none checked:bg-blue-600 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 border border-transparent ring-1 ring-transparent focus:border-blue-600 focus:ring-blue-600 ring-offset-white focus:outline-none appearance-none dark:bg-gray-700 dark:checked:bg-blue-600 dark:focus:ring-offset-gray-800

  before:inline-block before:w-6 before:h-6 before:bg-white checked:before:bg-blue-200 before:translate-x-0 checked:before:translate-x-full before:shadow before:rounded-full before:transform before:ring-0 before:transition before:ease-in-out before:duration-200 dark:before:bg-gray-400 dark:checked:before:bg-blue-200" data-action="click->bookmarks#toggle">
  <label class="text-sm text-gray-500 ml-3 dark:text-gray-400">しおり一覧</label>
</div>
-->
<div data-controller="toggle-content">
  <div data-target="toggle-content.bookmarksSection" class="hidden">
    <%= render partial: 'bookmarks', locals: { bookmarks: @bookmarks } %>
  </div>
  <div data-target="toggle-content.booksSection">
    <%= render partial: 'books', locals: { books: @books } %>
  </div>
</div>


