/* @tailwind base; */
/* @tailwind components; */
/* @tailwind utilities; */

<<<<<<< Updated upstream
header {
  background-image: url("wood.png");
}
/* @media screen and (min-width: 920px) { */
h1 {
  text-align: center;
  padding: 20px 0px 16px;
  background-color: #302E29;
  color: #ffffff;
}

header nav {
  /* position: fixed; */
  top: 0;
  left: 0;
  max-width: 100%;
  z-index: 100;
  /* color: #7c5d48; */
}

header nav ul {
  display: flex;
  justify-content: space-around;
  /* width: 920px; */
  margin: 0 auto;
  padding: 10px 20px;  
}

header nav ul li {
  margin: 0 20px;
}

header nav ul li a:hover {
  text-decoration: underline;
}

main {
  /* flex-basis: 920px; */
  height: 100%;
}

aside {
  /* flex-basis: 204px; */
}

aside nav {
  border-radius: 16px;
  /* background-color: #ffffff; */
  /* box-shadow: 0px 0px 8px rgba(0, 0, 0, 16); */
  padding: 24px 28px;
  margin-bottom: 24px;
}

aside nav h2 {
  margin-bottom: 18px;
  font-size: 22px;
  /* font-weight: bold; */
  /* color: #7c5d48; */
}

aside nav ul {
  font-size: 14px;
}

.search-box {
  /* margin: 20px; */
  padding: 20px;
}

.book_list {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-evenly;
  align-items: flex-start;
}

.book-line {
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  /* display: flex; */
  /* justify-content: space-around; */
}

.book-image {
  margin: 5px;
  padding: 0;
  /* object-fit: cover; */
  margin-bottom: 28px;
}

.book-data {
  /* flex-basis: 50px; */
  width: 200px;
  height: 200px;
  margin: 5px;
  padding: 10px;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  background-image: url("wood.png");
  /* color: #000000; */
}

.btn-xs {
  margin: 5px;
  padding: 5px;
  position: relative;
  display: flex;
  justify-content: space-evenly;
}

.form-group {
  /* color: #000000; */
}

.text-center {
  /* color: #000000; */
}

.form-group {
  /* background-color: #efe8d9; */
  padding: 20px;
  /* width: 600px; */
  margin: 0 auto;
}

.form-control {
  /* border: 1px solid #cccccc; */
  /* background-color: #ffffff; */
  width: 100%;
  margin-top: 5px;
  padding: 4px 8px;
}

.actions {
  /* padding-bottom: 60px; */
  /* width: 600px; */
  margin: 0 auto;
}

.search {
  background-image: url("shelf.jpg");
  font-size: 16px;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  min-height: 1000px;
  /* font-family: 'Noto Sans JP', sans-serif; */
  /* color: #000000; */
}

.bookshelf {
  background-image: url("shelf.jpg");
  font-size: 16px;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  min-height: 1000px;
}

footer {
  background-image: url("wood.png");
}

footer nav {
  /* position: fixed; */
  top: 0;
  left: 0;
  max-width: 100%;
  z-index: 100;
  /* color: #7c5d48; */
}

footer nav ul {
  display: flex;
  justify-content: space-around;
  /* width: 920px; */
  margin: 0 auto;
  padding: 10px 20px;
}

footer nav ul li {
  margin: 0 20px;
}

footer nav ul li a:hover {
  text-decoration: underline;
}

.tos {
  background-color: #302E29;
  color: #ffffff;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 10px 20px;
}

.privacy {
  background-color: #302E29;
  color: #ffffff;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 10px 20px;
}

.flash {
  background-image: url("shelf.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}


/* } */

/* モバイルデバイスの見え方 */

/* @media screen and (max-width:640px) {
  .search {
    width: 100%;
    margin: 0 auto 50px;
    display: flex;
  }
  
  .search-box {
    display: flex;
    justify-content: center;
    margin: 20px;
  }


  .book_list {
    display: block;
  }

  header nav ul form {
    width: 100%;
  }
} */
=======
>>>>>>> Stashed changes
