@tailwind base;
@tailwind components;
@tailwind utilities;


header {
  /* background-image: url("wood.png"); */
  /* background-size: cover;
  width: 100vw; */
}

/* @media screen and (min-width: 920px) { */
h3 {
  /* text-align: center;
  padding: 20px 0px 16px; */
  /* background-color: #302E29; */
  /* color: #ffffff; */
}

/* header nav {
  top: 0;
  left: 0;
  max-width: 100%;
  z-index: 100;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding: 10px 20px;
}

header nav ul li {
  margin: 0 20px;
}

header nav ul li a:hover {
  text-decoration: underline;
}

main {
  height: 100%;
  background-color: #F4F5F7;
}

aside {
}

aside nav {
  border-radius: 16px;
  padding: 24px 28px;
  margin-bottom: 24px;
}

aside nav h2 {
  margin-bottom: 18px;
  font-size: 22px;
}

aside nav ul {
  font-size: 14px;
}

.search-box {
  padding: 20px;
} */

/* .book_list {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-evenly;
  align-items: flex-start;
} */

/* .book-line {
  width: 33%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
} */

/* .book-image {
  margin: 5px;
  padding: 0;
  margin-bottom: 28px;
}

.book-data {
  height: 125px;
  margin: 5px;
  padding: 10px;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
} */

/* .show-book-data {
}

.btn-xs {
  margin: 5px;
  padding: 5px;
  position: relative;
  display: flex;
  justify-content: space-evenly;
}

.form-group {
  color: #000000;
}
*/
/* .text-center {
}

.form-group {
  padding: 20px;
  margin: 0 auto;
}

.form-control {
  width: 100%;
  margin-top: 5px;
  padding: 4px 8px;
}

.actions {
  margin: 0 auto;
}

.search {
  font-size: 16px;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  min-height: 1000px;
}

.bookshelf {
  font-size: 16px;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  min-height: 1000px;
}

footer {
}

footer nav {
  top: 0;
  left: 0;
  max-width: 100%;
  z-index: 100;
}

footer nav ul {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding: 10px 20px;
}

footer nav ul li {
  margin: 0 20px;
}

footer nav ul li a:hover {
  text-decoration: underline;
} */

.tos {
  background-color: #302E29;
  color: #ffffff;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 10px 20px;
}

.privacy {
  background-color: #302E29;
  color: #ffffff;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 10px 20px;
}

.flash {
  /* background-size: cover; */
  /* background-attachment: fixed; */
  /* background-position: center center; */
}

.about {
  /* background-image: url("shelf.jpg"); */
  /* height: 1000px; */
}


/* } */

/* モバイルデバイスの見え方 */

/* @media screen and (max-width:640px) {
  .search {
    width: 100%;
    margin: 0 auto 50px;
    display: flex;
  }
  
  .search-box {
    display: flex;
    justify-content: center;
    margin: 20px;
  }


  .book_list {
    display: block;
  }

  header nav ul form {
    width: 100%;
  }
} */