<div class="flash">
  <% if notice %>
    <div role="alert" class="rounded border-l-4 border-green-500 bg-green-50 p-4 flex justify-center items-center">
      <p class="mt-2 text-green-700">
        <%= notice %>
      </p>
    </div>
  <% end %>
  <% if danger %>
    <div role="alert" class="rounded border-l-4 border-red-500 bg-red-50 p-4 flex justify-center items-center">
      <p class="mt-2 text-red-700">
        <%= danger %>
      </p>
    </div>
  <% end %>
  <% if info %>
    <div role="alert" class="rounded border-l-4 border-blue-500 bg-blue-50 p-4 flex justify-center items-center">
      <p class="mt-2 text-blue-700">
        <%= info %>
      </p>
    </div>
  <% end %>
</div>
