<div class="flash">
  <% if notice %>
    <div class="notification is-primary" id="notification-block">
      <button class="delete"></button>
      <span><%= notice %></span>
    </div>
  <% end %>
  <% if danger %>
    <div class="notification is-danger" id="notification-block">
      <button class="delete"></button>
      <span><%= danger %></span>
    </div>
  <% end %>
</div>